<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>EMAIL VERIFICATION</h1>
    <form action="/forgot1" method=POST>
        <div>
            <label for="email">Email</label>
            <input type = "text" id="email" name="email" required>
        </div>
    
        <button type="submit">Confirm</button>
</body>
</html>